body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Ajouté pour afficher la barre de progression en haut */
  min-height: 100vh;
}

#main-container, #question-container {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 15px 20px;
  font-size: 16px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #2d6a4f; /* Vert foncé */
  color: white;
  text-align: center;
  line-height: 1.5;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #1b3c2f; /* Vert encore plus foncé au survol */
}

.links-container {
  margin-top: 20px;
}

.link-btn {
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2d6a4f; /* Vert foncé */
  color: white;
  text-align: center;
  text-decoration: none;
  transition: background 0.3s;
}

.link-btn:hover {
  background-color: #1b3c2f; /* Vert encore plus foncé au survol */
}

.result-block {
  background-color: #e9f5f2; /* Couleur de fond légère pour les résultats */
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.informative-block {
  background-color: #e9f5f2; /* Couleur de fond légère pour l'informatif */
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.restart-block {
  text-align: center;
}

.additional-info {
  background-color: #e0f7e0; 
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
}
/* Style pour l'icône d'aide */
.help-icon {
  background-color: #e9f5f2;
  color: #2d6a4f;
  border-radius: 50%;
  padding: 2px 4px; /* Augmenter la taille de l'icône */
  font-size: 16px; /* Augmenter la taille du texte de l'icône */
  cursor: pointer;
  margin-left: 10px;
  position: relative;  /* Nécessaire pour que la bulle d'aide soit positionnée par rapport à l'icône */
}

/* Style pour la bulle d'aide */
.tooltip {
  position: absolute;
  background-color: #1b3c2f;
  color: white;
  padding: 15px; /* Augmenter l'espace interne de la bulle */
  border-radius: 8px; /* Adoucir les coins de la bulle */
  font-size: 14px; /* Augmenter la taille du texte */
  white-space: normal; /* Permettre au texte de s'enrouler */
  z-index: 10;
  top: 30px;
  left: 0;
  width: max-content; /* Adapter la largeur en fonction du contenu */
  max-width: 300px; /* Limiter la largeur de la bulle pour éviter un texte trop long sur un seul ligne */
  display: none;  /* Cachée par défaut */
  flex-direction: row;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Ajouter une ombre portée pour plus de lisibilité */
}

/* Style pour l'image dans la bulle */
.tooltip-image {
  width: 100px; /* Augmenter la taille de l'image */
  height: 100px; /* Augmenter la taille de l'image */
  margin-right: 12px; /* Augmenter l'espace entre l'image et le texte */
}

/* Style pour le texte dans la bulle */
.tooltip span {
  word-wrap: break-word; /* Permettre de couper le texte si nécessaire */
  white-space: normal; /* Autoriser le texte à se décomposer sur plusieurs lignes */
  overflow: visible; /* S'assurer que le texte ne sera pas coupé */
}

/* Afficher la bulle au survol de l'icône */
.help-icon:hover .tooltip {
  display: flex; /* Utilisation de 'flex' pour aligner l'image et le texte dans la bulle */
}
